
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
        font-family: 'Pacifico', cursive;
     color:rebeccapurple;
        padding: 0; }
    

.btn {
    text-decoration: none;
    
   
}


.crystalBall {
    background-color: rgb(211, 211, 211);
    height: 280px;
    width: 280px;
    border-radius:50%;
    margin: 20px;
    text-align: center;

    opacity: 80%;
    display: flex;         

    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
 
  
}

.help {
  background-image: url("./images/dawn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
      text-align: center;
  z-index: 1;
  height: 100vh;
        
  justify-content: center;
  align-items: center

}

.magicBG {
  
        background-image: url("./images/dawn.jpg");
     background-repeat: no-repeat;
     background-size: cover;
         text-align: center;
     z-index: 1;
   
          
    
     justify-content: center;
     align-items: center
  }

.guess {
    background-image: url("./images/dawn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 1;  
    justify-content: center;
    align-items: center;
    
 }

.answers {
 
    
    z-index: 100;
}

.fortuneBtn {
    background-color: plum;
    border-radius: 2rem;
    padding: 6px;
    margin: 4px;
}

.fortuneBtn:hover {
    background-color: rgb(247, 182, 144);
    color: rebeccapurple;
    font-weight: bold;
    opacity: 80%;
}

.question {
    background-color: plum;
    width: 280px;
    border-radius: 2rem;
    padding: 6px;
    margin: 4px;
}

.home {
    background-color: rgb(247, 182, 144);
    margin-bottom: 20px;
    background-image: url("./images/dawn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.deck {
   
    background-color: rgb(247, 182, 144);
}

.pic {
    margin:0;
    margin:0;
}

.banner {
    background-color: rgb(247, 182, 144);
    width: 100%;
   
}

.board-head {
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 300px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #444;
    border-right: 1px solid #444; }
    .board-head .reset,
   
    .board-head .timer {
      width: 55px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .board-head .reset {
      font-size: 25px; }

    
  .board {
    width: 300px;
    height: 300px;
    border: 1px solid #444;
    
    border-bottom: none; }
    .board .row {
      display: flex;
      height: 50px; }
      .board .row:last-child {
        border-bottom: none;
        height: 50px; }
      .board .row .cell {
        border-right: 1px solid #444;
        width: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #444; }
        .board .row .cell.open {
          background-color: #dabcbc; }
          .board .row .cell.open:hover {
            background-color: #e1b6b6; }
        .board .row .cell:hover {
          background-color: #eeb7b7; }
        .board .row .cell:last-child {
          border-right: none; }

          .boardP {
            align-items: center;
            align-content: center;
          }
  
  * {
    margin: 0;
    padding: 0; }
  
 